*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: 'Inter', sans-serif;
}
.nav-bar{
    background-color: #F55A5A;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    gap: 8px;
    margin-bottom: 20px;
}
.icon-location{
    color: #F55A5A;
}
.card{
    display: flex;
    gap: 80px;
    padding: 40px 40px;
    height: 336px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card-img{
    width: 184px;
    height: 256px;
    object-fit: cover;
    border-radius: 8px;
}
.card-details{
    padding-top: 32px;
    height: inherit;
}
.card-location{
    font-weight: 300;
    letter-spacing: 8px;
}
.card-maps{
    margin-left: 24px;
    color: #918E9B;
    text-decoration: none;
    border-bottom: 1.6px solid #918E9B;
    word-wrap: break-word;
    word-wrap: break-word;
}
.card-place{
    margin-top: 20px;
    margin-bottom: 28px;
    letter-spacing: 2px;
}
.card-dates{
    margin-bottom: 20px;
}
.card-desc{
    width: inherit;
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}
hr{
    margin: 0px auto;
    width: 94%;
    border: 1px solid rgba(144, 141, 154,0.2);
}
@media only screen and (max-width: 600px) {
    .card{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .card-img{
        width: 100%;
        object-fit: cover;
        border-radius: 8px;
    }
    .card-maps{
        display: block;
        width: max-content;
        margin: 12px 0px;
    }
    .card-desc{
        width: inherit;
        height: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
  }
